@import url('https://fonts.googleapis.com/css2?family=Poppins');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    text-decoration: none;
}

a{
    text-decoration: none;
}

.navbar{
    position: absolute;
    top:0;
    left:0;
    display:flex;
    width:100%;
    justify-content: space-between;
    padding: 20px;
    color: black;
    margin-bottom: 100px;
    /* position: fixed; */
}

.nav-links{
    display: flex;
    align-items:center;
    list-style: none;
}

.nav-links li{
    margin : 0 30px;
}

body,html{
    overflow-x: hidden;
}

.menu-button{
    position: absolute;
    top:18px;
    right: 19px;
    width: 40px;
    cursor: pointer;
    display: none;
    /* height: 100%; */
}

.ctn {
    padding: 8px 15px;
    background:#fc036b;
    border-radius: 30px;
    color: whitesmoke;
    margin-bottom: 10px;
}

.cntlogo img{
    position: absolute;
    top:50px;
    left: 20px;
    width: 120px;
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: #ddd
}

.container{
    /* background-image: url('../img/hd2.jpg'); */
    margin-top: 39px;
    max-width: 700px;
    width: 100%;
    /* background: #fff; */
    height: 546px;
    background: linear-gradient(-135deg, #71b7e6, #9b59b6);
    padding: 25px 30px;
    border-radius: 5px;
    overflow-x: hidden;
    overflow-y:scroll;
}

.container .title{
    font-size: 1rem;
    font-weight: 500;
}

.container .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    margin: 20px 0 12px 0;
}

/* form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2-20px);
} */

form .user-details .input-box a{
    margin-left: 39px;
    font-weight: 1000;
    font-size: 17px;
}

.user-details .input-box h3{
    height:45px;
    width:100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-top: 10px;
    font-size: 1rem;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
    text-align: center;
}

.user-details .input-box .details{
    font-weight: 500;
    margin-bottom: 5px;
    display: block;
    margin-left: 39px;
}

.user-details .input-box h3:focus,
.user-details .input-box h3:valid{
    border-color: #9b59b6;

}

#hide1{
    display: none;
}

.company{
    /* position: absolute; */
    display:flex;
    justify-content: space-between;
}

.companylogo{
    width: 250px;
    /* margin-left: 100px; */
}

.new{
    padding: 6px 28px;
    background:linear-gradient(135deg, #71b7e6, #9b59b6);
    border-radius: 30px;
    color:black;
    /* margin-bottom: 10px; */
}

/* .line {
    width: 150px;
    height: 4px;
    background: darkblue;
    margin: 10px auto;
    border-radius: 5px;
} */

/* .user-details{
    overflow-y:scroll;
    overflow-x: hidden;
} */

@media only screen and (max-width:991px) {

    .user-details .input-box h3{
        font-size: 0.7rem;
    }
    
    .container{
        background: linear-gradient(-135deg, #71b7e6, #9b59b6);
    }

    form .user-details .input-box{
        margin-bottom: 15px;
        width: 100%;
    }

    /* .container form .user-details{
        width: 100%;
        overflow: scroll;
    } */

    .user-details::-webkit-scrollbar{
        width: 0;
    }

    .menu-button{
        display: block;
    }

    .navbar{
        padding:0;
    }

    .logo{
        position:absolute;
        top : 30px;
        left : 30px;
        display: none;
    }

    .cntlogo img{
        position: absolute;
        top:60px;
        left: 40px;
        width: 90px;
        display: none;
    }

    .nav-links{
        flex-direction:column;
        width : 100%;
        height: 100vh;
        justify-content: center;
        background: #484872;
        margin-top: -900px;
        transition: all 0.5s ease;
    }

    .mobile-menu{
        margin-top: 0px;
        border-bottom-right-radius:30% ;
    }

    .nav-links li{
        margin: 30px auto;

    }

    body,html{
        overflow-x: hidden;
    }

}

@media only screen and (max-width:377px){
    .line {
        width: 150px;
        height: 4px;
        background: darkblue;
        margin: 15px auto;
        border-radius: 5px;
    }
}

@media only screen and (max-width:320px){
    .line {
        width: 150px;
        height: 4px;
        background: darkblue;
        margin: 15px auto;
        border-radius: 5px;
    }

    .user-details .input-box .details{
        font-weight: 500;
        margin-bottom: 5px;
        display: block;
        margin-left: 42px;
    }


    form .user-details .input-box a{
        margin-left: 60px;
        font-weight: 1000;
        font-size: 17px;
    }
}

li:hover{
    background-color: whitesmoke;
    color:#fc036b;
    cursor: pointer;
}

img{
    transition: transform 0.3s ease;
}

img:hover{
    transform: scale(1.1);
}

.ctn:hover{
    background: whitesmoke;
    color:black;
    box-shadow: 2px 2px 5px #00000056;
}
