@import url('https://fonts.googleapis.com/css2?family=Poppins');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    text-decoration: none;
}

/* .cntlogo{
    position: absolute;
    position: fixed;
} */

a{
    text-decoration: none;
    color: black;
}

.active{
    color:#fc036b;
    /* text-decoration: underline; */
    font-weight: bold;
}

body,html{
    overflow-x: hidden;
}

.navbar .nav-links .ctn{
    text-decoration: none;
    color: black;
}


.navbar{
    position: absolute;
    top:0;
    left:0;
    display:flex;
    width:100%;
    justify-content: space-between;
    padding: 20px;
    color: black;
    /* position: fixed; */
}

.nav-links{
    display: flex;
    align-items:center;
    list-style: none;
    /* text-decoration: none;
    color: black; */
}

.nav-links li{
    margin : 0 30px;
}

header{
    width : 100vw;
    height : 100vh;
    background-image: url('../img/bg8.jpg');
    background-position: top;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-content{
    /* margin-top: 150px; */
    color:black;
    text-align: center;
}

.header-content h2{
    font-size: 4vmin;
}

.line {
    width: 150px;
    height: 4px;
    background: #fc036b;
    margin: 10px auto;
    border-radius: 5px;
}

.header-content h1{
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;
}

.ctn {
    padding: 8px 15px;
    background:#fc036b;
    border-radius: 30px;
    color: black;
}

.menu-button{
    position: absolute;
    top:30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
    display: none;
}

section{
    width:50%;
    /* height: 220%; */
    margin:80px auto;
}

.events{
    height: 50rem;
}

.title{
    text-align: center;
    font-size: 4vmin;
    color: rgb(73,73,126);
}

.row{
    display: flex;
    align-items: center;

}

.row .col{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.events .row{
    margin-top: 50px;
}

h4{
    font-size: 3vmin;
    color:#484872;
    margin: 20px auto;
    text-align: center;
}

p{
    color: #7c7c7c;
    padding: 0px 40px;
}

.events .ctn{
    margin-top: 30px;
}

.explore{
    width: 100%;
    height: 100vh;
    background-image: url('../img/hd4.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.explore-content{
    width: 60%;
    padding: 50px;
    color: rgb(35, 35, 92);
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 200px;
}

.explore-content h1{
    font-size: 7vmin;
    margin: 50px;
}

.explore-content .ani{
    background-color: rgb(174, 174, 219);
    color:rgb(35, 35, 92);
    text-align: center;
    height: 10w;
    width: 50vh;
    border-radius: 20px;
    border:2px solid rgb(35, 35, 92) ;
}

.explore-content .ani :hover{
    background: rgb(35, 35, 92);
    color:rgb(174, 174, 219);
    border: 2px solid rgb(174, 174, 219);
    border-radius: 20px;
    transition: transform 0.3s ease;
    transform: scale(1.1);
}

.explore-content .ani h3{
    font-size:2.5vmin;
    margin: 50px 25px
}

.explore-content .line{
    margin-bottom: 30px;
}

.explore-content p{
    color: black;
}

.explore-content .ctn{
    margin-top: 40px;
}

.footer{
    width: 100%;
    min-height: 100px;
    padding: 20px 8px;
    margin:0;
    background:black;
    text-align: center;
}

footer p{
    color: whitesmoke;
    margin: 20px auto;
}

.row{
    flex-direction: row;
    margin: -154px;
    /* border: -10px; */
}

.row .col {
    margin: 20px auto;
}

.col img{
    max-width: 100%;
    width: auto;
    height: auto;
}

.cntlogo img{
    position: absolute;
    top:50px;
    left: 20px;
    width: 120px;
}

.explore-content h1{
    width: 100%;
    text-align:center;
    margin-top: 60px;
}

#wid1{
    width: 90%;
}

#wid2{
    width: 90%;
}

/* #wid3{
    width: 100%;
} */

@media only screen and (max-width:850px){
    .menu-button{
        display: block;
    }

    .navbar{
        padding:0;
    }

    .logo{
        position:absolute;
        top : 30px;
        left : 30px;
    }

    .cntlogo img{
        position: absolute;
        top:60px;
        left: 40px;
        width: 90px;
    }

    .nav-links{
        flex-direction:column;
        width : 100%;
        height: 100vh;
        justify-content: center;
        background: #484872;
        margin-top: -900px;
        transition: all 0.5s ease;
    }

    .mobile-menu{
        margin-top: 0px;
        border-bottom-right-radius:30% ;
    }

    .nav-links li{
        margin: 30px auto;

    }

    .row{
        flex-direction: column;
    }

    .row .col {
        margin: 20px auto;
    }

    .col img{
        max-width: 50%;
    }

    .explore-content{
        width:100%;
    }

    .explore-content h1{
        width: 100%;
    }

    .footer{
        padding:10px;
    }

    /* .header-content h1{
        color: whitesmoke;
    } */
}

img{
    transition: transform 0.3s ease;
}

img:hover{
    transform: scale(1.1);
}

.ctn:hover{
    background: whitesmoke;
    color:black;
    box-shadow: 2px 2px 5px #00000056;
}

li:hover{
    background-color: whitesmoke;
    color:#fc036b;
    cursor: pointer;
}

